<div class="home-lines">
    <div class="home-container">
        {{#each homepage}}
            <div class="home-left">
                <img src="images/{{picture}}.png" alt="my-image">
            </div>
            <div class="home-right">
                <h1 class="home-right-heading">{{name}}</h1>
                <h3 class="home-right-title">{{title}}</h3>
                <div class="home-right-quote">
                    <div class="home-right-quotemarks">
                        <img src="images/quotemark-left.png" alt="quotemark" class="home-right-quotemark">
                        <img src="images/quotemark-right.png" alt="quotemark" class="home-right-quotemark">
                    </div>
                    <p class="home-right-quote-text">{{quote}}</p>
                    <p class="home-rigth-quote-author">{{quote_author}}</p>
                </div>
                <div class="home-right-buttons">
                    <div class="right-buttons-contact">
                        <p>CONTACT ME</p>
                    </div>
                    <div class="right-buttons-view">
                        <p>VIEW SHOWREEL</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{!-- Contact form --}}
<div class="contact-popup">
    <div class="close-contacts">
        <svg viewBox="0 0 202 202" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="200" height="200" stroke="#1A1A1A"/>
            <path d="M161 34L168.071 41.0711L40.7919 168.35L33.7208 161.279L161 34Z" fill="#1A1A1A"/>
            <path d="M34 41L41.0711 33.9289L168.35 161.208L161.279 168.279L34 41Z" fill="#1A1A1A"/>
        </svg>
    </div>
    <div class="contacts-popup-container">
        <h2 class="contacts-popup-heading">Get in touch</h2>
        <form class="contacts-popup-form" method="POST" action="/send">
            <input required type="text" placeholder="Your name" name="name">
            <input required type="text" placeholder="Your email" name="email">
            <textarea required placeholder="Your message" name="message"></textarea>
            <button type="submit">SEND</button>
        </form>
    </div>
</div>

{{!-- Video popup --}}
<div class="video-popup">
    <div class="video-popup-close">
        <svg viewBox="0 0 202 202" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="200" height="200" stroke="#f7f7f7"/>
            <path d="M161 34L168.071 41.0711L40.7919 168.35L33.7208 161.279L161 34Z" fill="#f7f7f7"/>
            <path d="M34 41L41.0711 33.9289L168.35 161.208L161.279 168.279L34 41Z" fill="#f7f7f7"/>
        </svg>
    </div>
    <div class="video-popup-container">
        <video src="includes/showreel.mp4" controls muted></video>
    </div>
</div>